<footer id="footer">
	<div class="container container-footer">
		<div class="logo"><a href="#"><img src="assets/img/ico-logo.png" srcset="assets/img/ico-logo@2x.png 2x" alt="logo"></a>
		</div>
		<div class="footer-col post">
			<div class="footer-title">
				<h5>California Office</h5>
			</div>
			<div class="empty">
				<address class="address">
					<p>4243 Woodland Terrace</p>
					<p>Sacramento, CA 95814 </p>	
					<a	href="tel:+49167532645">916 753 2645</a> </address>
			</div>
		</div>
		<div class="footer-col post">
			<div class="footer-title">
				<h5> New york Office</h5>
			</div>
			<div class="empty">
				<address class="address">
					<p>885 Oakwood Avenue </p>
          <p>New York, NY 10013</p>
          <a href="tel:+380506884422">+38 (050) 688-44-22</a>
        </address>
			</div>
		</div>
		<div class="footer-col post">
			<div class="footer-title">
				<h5> Other Contact</h5>
			</div>
			<div class="mail"><a
					href="mailto:&#106;&#111;&#098;&#115;&#064;&#116;&#101;&#109;&#112;&#108;&#097;&#116;&#101;&#111;&#099;&#101;&#097;&#110;&#046;&#099;&#111;&#109;">&#106;&#111;&#098;&#115;&#064;&#116;&#101;&#109;&#112;&#108;&#097;&#116;&#101;&#111;&#099;&#101;&#097;&#110;&#046;&#099;&#111;&#109;</a>
			</div>
			<div class="footer-icons">
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
					<a href="#"></a>
			</div>
		</div>
	</div>

	<div class="icon icon1"></div>
</footer>
<!-- loading JS Start -->
<script src="js/jquery-3.2.1.min.js" defer></script>
<script src="js/jquery.main.js" defer></script>
<!-- loading JS End -->
<!--<Deject>-->
<!--Removing zone start -->
<link rel="stylesheet" href="css/development.css">
<div class="dev-scripts-block">
	//= ../dev/template/responsive-breakpoint.html
	//= ../dev/template/scroll-up-down.html
	//= ../dev/template/fast-navigation.html
</div>
//= ../dev/template/button-all-off.html
<script src="js/development.js" defer></script>
<!--Removing zone end -->
<!--</Deject>-->
</body>
</html>