<header id="header" class="section wrap">
  <div class="bg-holder autoheight">
    <div class="bg-stretch">
      <img id = "img-parallax" src="assets/img/bg-header.jpg" width="1920" height="1000" alt="" class="img-parallax">
    </div>
    <div class="bg-block container">
      <div class="bg-block-holder">
        <div class="header-title">
          <h1>We’re <span>Fusion</span>, We Build Things for Human</h1>
        </div>
        <div class="header">
          <nav class="menu">
            <a href="#" class="opener"><span>Menu</span></a>
            <div class="drop">
              <ul class="menu menu-container anchor-nav">
                <li class="menu-item">
                  <a href="#services">desigh</a>
                </li>
                <li class="menu-item">
                  <a href="#services">strategy</a>
                </li>
                <li class="menu-item">
                  <a href="#branding">branding</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="arrow-bottom anchor-nav">
          <a href="#services"><svg class="arrow-svg ">
            <use xlink:href="#4"></use>
          </svg></a>
        </div>
      </div>
      <div class="logo-col">
        <div class="logo"><a href="#"><img src="assets/img/ico-logo.png" srcset="assets/img/ico-logo@2x.png 2x" alt="logo"></a></div>
        <div class="get-in-touch"><a href="#contact">GET IN TOUCH</a></div>
      </div>
    </div>
  </div>
</header>
